---
import PostPreview from '@/components/PostPreview.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog')
  const uniqueTags = [...new Set(posts.flatMap((post) => post.data.tags ?? []))]

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag))

    return {
      params: { tag: tag.toLowerCase() },
      props: { posts: filteredPosts },
    }
  })
}) satisfies GetStaticPaths

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout title="Home">
  <h3 class="mb-12">Posts tagged with: <span class="text-orange-400">{tag}</span></h3>

  <ul role="list">
    {
      posts.map((post) => (
        <li role="listitem">
          <PostPreview post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
