---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { GetStaticPaths } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'

interface Props {
  post: Awaited<CollectionEntry<'blog'>>
}

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog')

  return posts.map((post) => ({
    params: { slug: post.slug.split('/').at(1) },
    props: { post },
  }))
}) satisfies GetStaticPaths

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <a href="/blog" class="button-link">Back</a>

  <article>
    <h1>{post.data.title}</h1>
    <p>Author: {post.data.author}</p>

    <Content />
  </article>
</BaseLayout>

<style>
  .button-link {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 22px;
    background-color: lightblue;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin: 0.5em 0;
  }
</style>
