@import '@fontsource/merriweather';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Merriweather', system-ui, serif;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[800px] p-6;
  }

  .flow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .flow > * {
    margin-block: 0;
  }

  .flow > * + * {
    margin-block-start: var(--space-l, 1em);
  }
}
