:root {
  --color-100: hsl(208 64.8% 51%);
  --color-200: hsl(204 53.9% 60%);
  --color-300: hsl(183 53.4% 79.8%);
  --color-400: hsl(10 30% 96.1%);
  --color-500: hsl(341 89.7% 69.4%);

  --gutter: var(--space-s-m);
  --border-radius: var(--size-step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;

  --space-3xs: clamp(0.25rem, 0.2083rem + 0.2083vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4583rem + 0.2083vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.6667rem + 0.4167vw, 0.875rem);
  --space-s: clamp(1rem, 0.9167rem + 0.4167vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.375rem + 0.625vw, 1.6875rem);
  --space-l: clamp(2rem, 1.8333rem + 0.8333vw, 2.25rem);
  --space-xl: clamp(3rem, 2.75rem + 1.25vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.6667rem + 1.6667vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.5rem + 2.5vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.0417rem + 1.0417vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.25rem + 1.25vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.5rem + 1.25vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.5417rem + 2.2917vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1rem + 2.5vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.0833rem + 4.5833vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2rem + 5vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 2.1667rem + 9.1667vw, 6.75rem);

  --step--2: clamp(0.6944rem, 0.6774rem + 0.0852vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.7889rem + 0.2222vw, 0.9rem);
  --step-0: clamp(1rem, 0.9167rem + 0.4167vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.0625rem + 0.6875vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.2281rem + 1.0594vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.4152rem + 1.5642vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.6249rem + 2.2433vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 1.8584rem + 3.1497vw, 3.4332rem);
}
