---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostPreview from '@/components/PostPreview.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
---

<BaseLayout title="Home">
  <ul role="list">
    {
      posts.map((post) => (
        <li>
          <PostPreview post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
