---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ReadingListTable from '@/components/ReadingListTable.astro'
import { getCollection } from 'astro:content'

const readingListDateDescending = await getCollection('reading-list').then((res) =>
  res.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
)
---

<BaseLayout title="Reading List">
  <h1 class="mb-12 text-3xl">Reading List</h1>

  {
    readingListDateDescending.map(async (item) => {
      const { Content } = await item.render()
      return (
        <ReadingListTable date={item.data.pubDate}>
          <Content />
        </ReadingListTable>
      )
    })
  }
</BaseLayout>
