---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<a href={`/blog/${post.slug.split('/').at(1)}`} class="post">
  <article>
    <p class="meta">
      <span>{post.data.author}</span>
      <time>
        {
          post.data.pubDate.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })
        }
      </time>
    </p>

    {
      post.data.tags?.length && (
        <ul class="tags">
          {post.data.tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
      )
    }

    <p class="title">{post.data.title}</p>
    <p class="description">{post.data.description}</p>

    <button
      >Read more
      <span>⚫️</span>
    </button>
  </article>
</a>

<style>
  .post {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: var(--space-2xl);

    & article {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
    }
  }

  .meta {
    display: flex;
    gap: var(--space-xs);
    margin-bottom: var(--space-xs);

    & span {
      font-weight: bold;
    }

    & time {
      color: darkgray;
    }
  }

  .tags {
    display: flex;
    gap: var(--space-xs);

    & li {
      background-color: black;
      color: white;
      padding: var(--space-3xs) var(--space-2xs);
      border-radius: 4px;
      font-size: var(--step--1);
    }
  }

  .post button {
    display: flex;
    width: fit-content;
    background-color: white;
    border: none;
    padding: 0;
    margin-top: var(--space-xs);
    font-weight: bold;

    & span {
      margin-left: var(--space-xs);
      transition-timing-function: ease-in;
      transition: 0.3s;
      text-decoration-color: transparent;
      color: transparent;
    }
  }

  .post:hover {
    & meta span {
      text-decoration: underline;
    }
    & button span {
      color: inherit;
    }
  }
</style>
