---
const siteLinks = [
  {
    href: '/reading-list',
    title: 'Reading list',
  },
]

const pathname = new URL(Astro.request.url).pathname
---

<header>
  <nav class="container flex items-center justify-between">
    <a href="/" class="text-xl font-bold">Code Recall</a>
    <ul class="flex gap-1">
      {
        siteLinks.map((link) => (
          <li>
            <a
              class="underline decoration-transparent transition-colors duration-300 hover:decoration-black aria-[current=page]:decoration-black"
              href={link.href}
              aria-current={pathname === link.href ? 'page' : 'false'}
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
