---
const siteLinks = [
  {
    href: '/reading-list',
    title: 'Reading list',
  },
]

const pathname = new URL(Astro.request.url).pathname
---

<header>
  <nav class="container">
    <a href="/" class="logo">Code Recall</a>

    <ul class="nav-menu">
      {
        siteLinks.map((link) => (
          <li>
            <a class="nav-link" href={link.href} aria-current={pathname === link.href ? 'page' : 'false'}>
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo {
    font-size: var(--step-1);
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
  }

  .nav-menu {
    display: flex;
    gap: 2ch;
    list-style: none;
  }

  .nav-link {
    text-decoration: underline;
    font-size: large;
    color: inherit;
    transition-timing-function: ease-in;
    transition: 0.3s;
    text-decoration-color: transparent;
  }

  .nav-link:hover,
  .nav-link[aria-current='page'] {
    text-decoration-color: black;
  }

  .nav-link:focus-visible {
    transition: none;
  }
</style>
