---
import type { CollectionEntry } from 'astro:content'
import Tags from './Tags.astro'
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'a'> {
  post: CollectionEntry<'blog'>
}

const { post, class: className, ...rest } = Astro.props

console.log(className)
---

<a
  href={`/blog/${post.slug.split('/').at(1)}`}
  class:list={[
    'mb-8 flex cursor-pointer flex-col rounded-lg p-8 shadow-md transition-all duration-300 ease-in-out hover:shadow-lg',
    className,
  ]}
  {...rest}
>
  <span class="mb-6 flex items-center justify-between">
    <h5 class="text-xl">{post.data.title}</h5>
    <p class="text-sm">
      <span>{post.data.author}</span>
      <time class="text-gray-500">
        {
          post.data.pubDate.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })
        }
      </time>
    </p>
  </span>

  <p class="mb-6">{post.data.description}</p>

  <Tags tags={post.data.tags} />
</a>
