---
const { date } = Astro.props
---

<div class="reading-list-table">
  <h4>
    Week of{' '}
    {
      new Date(date).toLocaleDateString('en-GB', {
        day: '2-digit',
        month: 'short',
        year: 'numeric',
      })
    }
  </h4>

  <slot />
</div>

<style is:global>
  .reading-list-table {
    margin: var(--space-2xl) 0;

    & h4 {
      margin-bottom: var(--space-m);
    }
  }

  .reading-list-table table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;

    & :is(td, th) {
      border-style: solid;
      padding: var(--space-2xs);
      border-color: darkgray;
    }

    & tr:nth-of-type(odd):not(:only-child) {
      background: rgba(0, 0, 0, 0.05);
    }

    & td:nth-of-type(n + 3) {
      text-align: center;
    }

    & td:first-of-type,
    & th:first-of-type {
      max-width: 200px;
    }

    & td:nth-of-type(2) {
      max-width: 60px;
    }
  }
</style>
