---
const { date } = Astro.props
---

<div class="reading-list-table">
  <h4 class="mb-6 text-2xl">
    Week of{' '}
    {
      new Date(date).toLocaleDateString('en-GB', {
        day: '2-digit',
        month: 'short',
        year: 'numeric',
      })
    }
  </h4>

  <slot />
</div>

<style is:global>
  .reading-list-table table {
    @apply mb-12 w-full border-collapse border-spacing-1;
  }

  .reading-list-table table :is(td, th) {
    @apply border border-black/20 p-3;
  }

  .reading-list-table table tr:nth-of-type(odd):not(:only-child) {
    @apply bg-gray-50;
  }

  .reading-list-table table td:nth-of-type(2) {
    @apply text-center;
  }

  .reading-list-table table td:nth-of-type(n + 3) {
    @apply text-center;
  }
  .reading-list-table table td:first-of-type,
  .reading-list-table table th:first-of-type {
    @apply max-w-[200px];
  }

  .reading-list-table table td:nth-of-type(2) {
    @apply max-w-[100px];
  }

  .reading-list-table a {
    @apply underline decoration-transparent transition-colors duration-300 hover:decoration-black aria-[current=page]:decoration-black;
  }
</style>

<script>
  const links = document.querySelectorAll('.reading-list-table a')

  links.forEach((link) => {
    link.setAttribute('target', '_blank')
  })
</script>
