---
export type Props = {
  tags: string[] | undefined
  links?: boolean
}

const { tags, links } = Astro.props

if (!tags?.length) return null
---

<ul role="list" class="flex list-none gap-x-3 text-sm">
  {
    tags.map((tag) => {
      return (
        <li
          class="rounded-md bg-blue-400/40 transition-colors duration-300"
          class:list={{ 'p-2': !links, 'hover:bg-blue-400/30': links }}
        >
          {links ? (
            <a href={`/tag/${tag.toLowerCase()}`} class="block w-fit" class:list={{ 'p-2': links }}>
              {tag}
            </a>
          ) : (
            tag
          )}
        </li>
      )
    })
  }
</ul>
